body {
  font-family: "Lato", "Ariel", sans-serif;
  font-weight: 400;
  overflow: hidden;
}
h3,
p {
  margin: 0px;
  padding: 0px;
}
#whole_section {
  max-width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)),
    url(hero.jpg);
  z-index: -1;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
#section {
  width: 700px;
  display: block;
  height: 55px;
  margin: auto 0px;
  background-color: #f2f2f21e;
  border: 1px solid #f2f2f21e;
  border-radius: 50px;
}
#navbar {
  width: 92%;
  display: flex;
  padding: 30px 4%;
  flex-flow: row wrap;
  /* background-color: #cc2020; */
  /* z-index: 99; */
  margin-bottom: 20px;
}
.space {
  flex: 1;
}
#navbar > h3 {
  border-bottom: 5px solid transparent;
  text-align: center;
  padding: 0px 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f21e;
  border-radius: 30px;
  transition: border-bottom 0.5s;
  margin-left: 15px;
}
#navbar h3:hover {
  border-bottom: 5px solid #e67e22;
}
#navbar h3 a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  align-items: center;
}
.logo {
  height: 100px;
  width: auto;
}

#query {
  border: none;
  background-color: transparent;
  color: #f2f2f2;
}
#charDiv {
  width: 660px;
  max-height: 350px;
  overflow-y: scroll;
  position: fixed;
  visibility: hidden;
  background-color: #f2f2f298;
  z-index: 999;
  border-radius: 20px;
  padding: 0px 20px;
  margin-top: 10px;
  scrollbar-width: thin;
}
#eachSpace {
  padding: 10px;
  color: black;
}

#inputBox {
  display: flex;
  padding: 0px 10px;
  margin: 10px;
  color: #f2f2f2;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: grey;
}

.icon {
  font-size: 30px;
  padding: 0px 15px;
}
.text_box {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  color: white;
  margin-left: 50px;
  font-size: 240%;
  letter-spacing: 1px;
  word-spacing: 4px;
  transform: translate(-50%, -50%);
}
#meal {
  position: absolute;
  background-color: crimson;

  width: 30%;
  height: 52vh;
  top: 24vh;
  left: 35%;
  border-radius: 10px;
}
.imgDiv {
  width: 100%;
  height: 73%;
}
.imgDivFigure {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin: 0;
  overflow: hidden;
}
.imgDivFigure img {
  opacity: 0.7;
  width: 100%;
  height: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
.imgDivFigure img:hover {
  transform: scale(1.03);
  opacity: 1;
}
.desDiv {
  margin-top: 20px;
  width: 100%;
  height: 27%;
  text-align: center;
}
.desDiv > h3 {
  margin-bottom: 7px;
  color: #f2f2f2;
}

#latestMealDIv {
  position: absolute;
  width: 100%;
  top: 20vh;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 20%);
  grid-gap: 5%;
}
#latestMealDIv > div {
  background-color: crimson;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
